.fv {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}
.main_img img {
  width: 100%;
}
.concept_title {
  margin-bottom: 80px;
}
.concept_title_en {
  font-family: "Hiragino Mincho ProN";
  font-size: 165px;
  color: #c7b299;
  margin-top: -100px;
}
.concept_title h1 {
  font-size: 24px;
  margin-top: -59px;
  letter-spacing: 0.1rem;
}

.concept_wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.concept_wrap p {
  font-size: 18px;
  line-height: 2.44;
  padding-bottom: 100px;
}
.logo_img {
  padding-bottom: 65px;
}

.toppage_btn {
  padding-bottom: 55px;
}
.toppage_btn img {
  box-shadow: 2px 3px 0 0 rgba(199, 178, 153, 0.8);
}

footer {
  background-color: #cfc9bf;
  padding-top: 50px;
}
.footer_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer_nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #4d4d4d;
  align-items: center;
}
.footer_nav ul li {
  padding: 0 20px;
  border-right: 1px solid #4d4d4d;
}
.footer_nav ul li:last-child {
  border-right: none;
}
.footer_logo {
  padding: 0 30px;
}
.copylight {
  max-width: 1000px;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
  font-size: 9px;
  color: #4d4d4d;
  text-align: end;
  margin: 0 auto;
  padding: 0 100px 35px 0;
  justify-content: space-around;
}
