.fv {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.main_img img {
  width: 100%;
}

.concept_title {
  margin-bottom: 80px;
}

.about_title_en {
  font-family: "Hiragino Mincho ProN";
  font-size: 165px;
  color: #c7b299;
  margin-top: -100px;
}

.about_title h1 {
  margin-top: -59px;
  letter-spacing: 0.1rem;
  font-size: 24px;
}

/* 顔写真コンテンツ */
.about_wrap1 {
  display: flex;
  max-width: 1200px;
  margin: 100px auto;
}
.name_content {
  position: relative;
  width: 493px;
}
.haikei1 {
  position: absolute;
  top: 38px;
  left: 8px;
  width: 460px;
}

.about_name {
  width: 242px;
  position: absolute;
  top: 10px;
  right: 62px;
}

.about_name img {
  width: 100%;
}

.name {
  width: 85%;
  font-family: "Toppan Bunkyu Gothic";
  font-size: 26px;
  padding: 10px 10px;
  letter-spacing: 0.1rem;
  border-bottom: solid 2px #534741;
}

.designer {
  padding: 10px;
}

.designer p {
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1rem;
  z-index: 1;
}

/* コンセプトのコンテンツ */

.concept_content {
  position: relative;
  width: 707px;
}

.haikei2 {
  width: 721px;
}

.concept_inner {
  display: flex;
  position: absolute;
  top: 175px;
  left: 57px;
}

.concept_text p {
  font-size: 17px;
  line-height: 2;
}

.concept_text span {
  font-family: "Hiragino Mincho ProN";
  font-size: 25px;
}

.concept_en {
  writing-mode: vertical-rl;
  font-size: 27px;
  color: #afa497;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
  padding: 130px 71px 0 0;
}

/* Likeのコンテンツ */

.about_wrap2 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.haikei3 {
  width: 836px;
}

.like_inner {
  position: absolute;
  top: 45px;
  left: 135px;
}

.like_en {
  writing-mode: vertical-rl;
  font-size: 27px;
  color: #ffb0cd;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
}
.like_text p {
  font-size: 17px;
  line-height: 2;
  padding: 45px 0 0 30px;
}

/* historyのコンテンツ */

.about_wrap3 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.haikei4 {
  width: 839px;
  position: absolute;
  top: 0;
  right: 40px;
}

.history_inner {
  display: flex;
  position: absolute;
  top: 154px;
  right: 182px;
}

.history_en {
  writing-mode: vertical-rl;
  font-size: 27px;
  color: #9daf97;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
  padding: 30px 110px 0 0;
}
.history_text p {
  font-size: 17px;
  line-height: 2;
}

/* ボタン */

.toppage_btn {
  text-align: center;
  margin: 606px 0 55px 0;
}

.toppage_btn img {
  box-shadow: 2px 3px 0 0 rgba(199, 178, 153, 0.8);
}

/* footer */
footer {
  background-color: #cfc9bf;
  padding-top: 50px;
}
.footer_wrap {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer_nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #4d4d4d;
  align-items: center;
}
.footer_nav ul li {
  padding: 0 20px;
  border-right: 1px solid #4d4d4d;
}

.footer_nav ul li:last-child {
  border-right: none;
}
.footer_logo {
  padding: 0 30px;
}
.copylight {
  max-width: 1000px;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
  font-size: 9px;
  color: #4d4d4d;
  text-align: end;
  margin: 0 auto;
  padding: 0 100px 35px 0;
  justify-content: space-around;
}
